.project {
  display: flex;
  flex-direction: row;
  border: 2px solid;
  font-style: normal;
}

.project-info {
  display: flex;
  flex-direction: column;
  gap: 48px;
  justify-content: center;
  margin: 0 auto;
}

.project-info__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;
  margin: 48px auto 0;
  max-width: 560px;
  max-height: 186px;
}

.project-info__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  margin: 0 auto;
  max-width: 560px;
  max-height: 63px;
  text-align: center;
}

.project-info__link-button {
  background-color: #302F2F;
  color: #EFEFEF;
  width: 400px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-style: normal;
  font-weight: 350;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.08em;
  margin: 10px auto 65px;
}
.project-info__link-button:hover {
  background-color: #C3FF76;
  cursor: pointer;
  color: #3322F5;
  border: 2px solid #3322F5;
}

.project-image {
  max-width: 640px;
  max-height: 520px;
  border-left: 2px solid;
}

@media screen and (max-width: 1365px) {
  .project {
    margin: 50px;
  }
}

@media screen and (max-width: 1186px) {
  .project {
    flex-direction: column-reverse;
  }
  
  .project-image {
    border-left: none;
    margin: 0 auto;
  }
}

@media screen and (max-width: 598px) {
  
  .project-info__title {
    font-size: 38px;
    max-width: 560px;
  }
  
  .project-info__description {
    font-size: 16px;
    max-width: 460px;
  }
}

@media screen and (max-width: 512px) {
  
  .project-info__title {
    font-size: 38px;
    max-width: 460px;
  }
  
  .project-info__description {
    font-size: 16px;
    max-width: 360px;
  }

  .project-info__link-button {
    width: 300px;
  }
}

@media screen and (max-width: 491px) {
  .project-info__title {
    font-size: 32px;
    max-width: 360px;
  }

  .project-info__description {
    font-size: 16px;
    max-width: 360px;
  }
}

@media screen and (max-width: 491px) {
  .project-info__title {
    line-height: 42px;
  }

  .project-info__title {
    font-size: 32px;
    max-width: 260px;
    text-align: center;
  }

  .project-info__description {
    font-size: 16px;
    max-width: 360px;
  }
}

@media screen and (max-width: 407px) {
  .project-info {
    gap: 28px;
  }

  .project-info__description {
    font-size: 14px;
    max-width: 320px;
    margin-bottom: 30px;
  }

  .project-info__link-button {
    width: 200px;
    font-size: 20px;
    letter-spacing: 0.05em;
  }
}

@media screen and (max-width: 364px) {

  .project-info__description {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 344px) {

  .project-info__title {
    font-size: 30px;
    max-width: 260px;
    text-align: center;
  }

  .project-info__description {
    margin-bottom: 60px;
    font-size: 13px;
  }
}