.me {
  display: flex;
  flex-direction: column;
}

.me-photo {
  max-width: 400px;
  max-height: 400px;
  border: solid 2px black;
  transition: border-color 0.5s ease-in-out;
}
.me-photo:hover {
  border: solid 2px #3322F5;
  border-image: linear-gradient( to right, #C3FF76, #3322F5) 1;
  border-image-slice: 1;
  transition: border-image 1s ease-out;
}

.me-info {
  display: flex;
  flex-direction: column;
  padding-top: 8px;
  gap: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.me-info__name, .me-info__location, .me-info__occupation {
  max-width: 400px;
  max-height: 40px;
}
.me-info__name:hover, .me-info__location:hover, .me-info__occupation:hover {
  color: #3322F5;
}

.me-info__description, .me-info__tech {
  display: none;
}
.me-info__description:hover, .me-info__tech:hover {
  color: #3322F5;
}

@media screen and (max-width: 1365px) {
  .me {
    flex-direction: row;
    margin: 0 auto;
    gap: 30px;
  }

  .me-info {
    justify-content: space-around;
  }
  
  .me-info__description {
    display: block;
    max-width: 400px;
    max-height: 40px;
  }

  .me-info__tech {
    display: block;
    max-width: 400px;
    max-height: 40px;
  }
}

@media screen and (max-width: 865px) {
  .me {
    flex-direction: column;
    align-items: center;
  }

  .me-photo {
    max-width: 300px;
    max-height: 400px;
  }

  .me-info {
    align-items: center;
    text-align: center;
    gap: 16px;
  }
}

@media screen and (max-width: 865px) {
  .me {
    flex-direction: column;
    align-items: center;
  }

  .me-photo {
    max-width: 300px;
    max-height: 400px;
  }

  .me-info {
    align-items: center;
    text-align: center;
    gap: 16px;
  }
}

@media screen and (max-width: 366px) {
  .me-info__description {
    max-width: 300px;
    max-height: 100px;
    margin-bottom: 20px;
  }

  .me-photo {
    max-width: 250px;
    max-height: 300px;
  }

  .me-info__tech {
    max-width: 200px;
    max-height: 60px;
  }
}